backports.functools-lru-cache==1.5
cvxopt==1.2.2
cvxpy==1.0.14
cycler==0.10.0
dill==0.2.9
ecos==2.0.7.post1
fastcache==1.0.2
future==0.17.1
kiwisolver==1.0.1
matplotlib==2.2.3
multiprocess==0.70.7
numpy==1.16.0
osqp==0.5.0
pandas==0.24.0
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
scikit-learn==0.20.2
scipy==1.2.0
scs==2.0.2
six==1.12.0
sklearn==0.0
subprocess32==3.5.3
